<?xml version='1.0' encoding='utf-8'?>
<plugin id="fr.dpfr.wpmemoryenhancer" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>WPMemoryEnhancer</name>
	
	<description>A small plugin setting memory cap to highest available</description>
	
	<license>MIT</license>

    <!-- WP8 -->
    <platform name="wp8">

  		<!-- Adding capability -->
		<config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/FunctionalCapabilities">
			<FunctionalCapability Name="ID_FUNCCAP_EXTEND_MEM"/>
		</config-file>

    </platform>
	
</plugin>
